[Unit]
Description=glot-run

[Service]
User=glot
Group=glot
Restart=always
RestartSec=10
ExecStart=/home/glot/bin/glot-run
Environment="SERVER_LISTEN_ADDR=127.0.0.1"
Environment="SERVER_LISTEN_PORT=8089"
Environment="SERVER_WORKER_THREADS=10"
Environment="SERVER_BASE_URL=https://run.glot.io"
Environment="SERVER_DATA_ROOT=/home/glot/data/glot-run/"
Environment="API_ADMIN_ACCESS_TOKEN=some-secret-admin-token"
Environment="DOCKER_RUN_BASE_URL=http://docker-host:8088"
Environment="DOCKER_RUN_ACCESS_TOKEN=some-secret-token"
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
